<!doctype html>
<html lang="tw">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/list.css">
    <!--  Feather icons  -->
    <script src="https://unpkg.com/feather-icons"></script>
    <title>聊天室列表 - Class Chat</title>
</head>

<body>
    <!--  Navbar  -->
    <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
        <!--  Navbar: brand  -->
        <a class="navbar-brand" href="/"> <img src="/images/creative.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Class Chat </a>
        <!-- Navbar: Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"></span> </button>
        <!-- Navbar: Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target="#newChatroom"><i data-feather="plus" class="nav-icon"></i><span>新聊天室</span></a></li>
                <li class="nav-item"> <a class="nav-link" href="#"><i data-feather="log-out" class="nav-icon"></i><span>登出</span></a></li>
            </ul>
        </div>
    </nav>
    <!-- Navbar: Modal -->
    <div class="modal fade" id="newChatroom" tabindex="-1" role="dialog" aria-labelledby="newChatroom" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newChatroom">新聊天室</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="options">
                                    <div class="options-title options-create">建立</div>
                                    <div>建立聊天室，發送邀請碼邀請夥伴。</div>
                                    <div><img src="/images/create.svg"></div>
                                    <button type="button" class="btn btn-create" data-toggle="modal" data-target="#createNewChatroom">建立聊天室</button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="options">
                                    <div class="options-title options-join">加入</div>
                                    <div>輸入邀請碼，加入已存在的聊天室。</div>
                                    <input type="text" name="pincode" id="pincode-modal" class="form-control" placeholder="Pincode" value="">
                                    <button type="button" name="pincode-submit" id="pincode-submit-modal" class="btn btn-join">加入聊天室</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar: Modal - createNewChatroom -->
    <div class="modal fade" id="createNewChatroom" tabindex="-1" role="dialog" aria-labelledby="newChatroom" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">建立聊天室</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="roomName">聊天室名稱</label>
                                                <input type="text" class="form-control" id="roomName" required> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="people">人數上限</label>
                                                <input type="number" class="form-control" id="people" required> </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 1rem;">
                                        <div class="col-12">
                                            <label for="authority">權限設定</label> <a id="authorityInfo" href="#" title="權限設定" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-content="會員使用者：<br>需登入才能加入聊天室<br><br>匿名使用者：<br>無需登入即可加入聊天室"><i class="fas fa-info-circle"></i></a> </div>
                                        <div class="col-6">
                                            <div class="form-check">
                                                <label class="form-check-label" for="radio1">
                                                    <input type="radio" class="form-check-input" id="private-radio1" name="authority-optradio" value="1" checked>會員使用者</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check">
                                                <label class="form-check-label" for="radio2">
                                                    <input type="radio" class="form-check-input" id="private-radio2" name="authority-optradio" value="0">匿名使用者</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 1rem;">
                                        <div class="col-12">
                                            <label for="mode">聊天室模式</label> <a id="modeInfo" href="#" title="聊天室模式" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true" data-content="討論：<br>即時討論與聊天<br><br>投票排行榜：<br>即時票選、排行最佳內容"><i class="fas fa-info-circle"></i></a> </div>
                                        <div class="col-6">
                                            <div class="form-check">
                                                <label class="form-check-label" for="radio1">
                                                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="tradition" checked>討論</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check">
                                                <label class="form-check-label" for="radio2">
                                                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="voting">投票排行榜</label>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="create-room-button" type="button" class="btn btn-info btn-block">建立</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="list-area">
        <div class="container inner">
            <div class="row">
                <div class="col text-center">
                    <h1>聊天室列表</h1> </div>
            </div>
            <div class="row justify-content-center">
                <!-- <div class="col-sm-6 col-11">
                    <div class="card">
                        <div class="card-header"><span class="badge-info badge-pill mr-1">123456</span>書報討論</div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>人數上限</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>權限設定</td>
                                        <td>匿名使用者</td>
                                    </tr>
                                    <tr>
                                        <td>聊天室模式</td>
                                        <td>討論</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col"> <a href="#" class="btn btn-secondary btn-block" role="button"><i data-feather="message-circle"></i></a> </div>
                                <div class="col">
                                    <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#edit-123456"><i data-feather="edit-2"></i></button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#remove-123456"><i data-feather="x"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-11">
                    <div class="card">
                        <div class="card-header"><span class="badge-info badge-pill mr-1">873842</span>使用者體驗設計</div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>人數上限</td>
                                        <td>80</td>
                                    </tr>
                                    <tr>
                                        <td>權限設定</td>
                                        <td>會員使用者</td>
                                    </tr>
                                    <tr>
                                        <td>聊天室模式</td>
                                        <td>投票排行榜</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col"> <a href="#" class="btn btn-secondary btn-block" role="button"><i data-feather="message-circle"></i></a> </div>
                                <div class="col">
                                    <button type="button" class="btn btn-warning btn-block disabled" data-toggle="modal" data-target="#edit-873842"><i data-feather="edit-2"></i></button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#remove-873842"><i data-feather="x"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
    <!-- Modal: edit-room-template -->
    <div class="modal fade" id="edit-template" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">編輯聊天室</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="roomName">聊天室名稱</label>
                                                <input type="text" class="form-control" id="roomName" value="" required> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="people">人數上限</label>
                                                <input type="number" class="form-control" id="people" value="" required> </div>
                                        </div>
                                    </div>
                                    <button id="edit-room-button" type="button" class="btn btn-info btn-block">確認</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: remove-room-template -->
    <div class="modal fade" id="remove-template" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">離開聊天室</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div id = "remove-modal-title"></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>人數上限</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>權限設定</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>聊天室模式</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> <a class="btn btn-danger btn-leave" href="#" role="button">離開</a> </div>
            </div>
        </div>
    </div>
    <!-- Modal: edit-room -->
    <!-- <div class="modal fade" id="edit-123456" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">編輯聊天室</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="roomName">聊天室名稱</label>
                                                <input type="text" class="form-control" id="roomName" value="書報討論" required> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="people">人數上限</label>
                                                <input type="number" class="form-control" id="people" value="100" required> </div>
                                        </div>
                                    </div>
                                    <button id="edit-room-button" type="button" class="btn btn-info btn-block">確認</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Modal: remove-room -->
    <!-- <div class="modal fade" id="remove-123456" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">離開聊天室</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div> <span class="badge-info badge-pill mr-1">873842</span>使用者體驗設計</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>人數上限</td>
                                <td>80</td>
                            </tr>
                            <tr>
                                <td>權限設定</td>
                                <td>會員使用者</td>
                            </tr>
                            <tr>
                                <td>聊天室模式</td>
                                <td>投票排行榜</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> <a class="btn btn-danger" href="#" role="button">離開</a> </div>
            </div>
        </div>
    </div> -->
    </section>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/roomlist.js"></script>
    <script src="/javascripts/navcontroller.js"></script>
    <script src="/javascripts/logout.js"></script>
    <script src="/javascripts/createroom.js"></script>
    <script src="/javascripts/joinroom.js"></script>
</body>

</html>