body {
    color: #555;
}


/* container inner */
.inner {
    padding-top: 5rem;
}


/* Navbar */

.nav-item {
    margin-left: 30px;
    cursor: pointer;
}

.nav-icon {
    vertical-align: middle;
    margin-right: 5px;
}

/* Navbar: newChatroom MODAL */
#newChatroom .options {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

#newChatroom .options img {
    margin: 1rem 0;
    height: 2rem;
}

#newChatroom .options input {
    margin: 1rem 0;
    height: 2rem;
}


#newChatroom .options-title {
    font-size: 1.2rem;
    margin: 0rem 1rem 1.2rem 1rem;
}

#newChatroom .options-create {
    color: #17b8a6;
    
}
#newChatroom .options-join {
    color: #177ab8;
}

#newChatroom .btn-create {
    color: #fff;
    background: #17b8a6;
}

#newChatroom .btn-join {
    color: #fff;
    background: #177ab8;
}


/* Chatroom ---- Chat area: chat-input */

#chat-input {
    position: fixed;
    bottom: 0;
    z-index: 99px;
    height: 3rem;
    background: white;
    display: inline;
}

#chat-input textarea {
    width: calc(100% - 3rem);
    height: 2rem;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: .6rem;
    padding-left: 1rem;
    border: none;
    resize: none
}

#chat-input textarea:hover,
textarea:active,
textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
}

#chat-input button {
    float: right;
    width: 3rem;
    height: 3rem;
    background: #17a2b8;
    color: #fff;
    border: none;
    cursor: pointer;
}

#chat-input button:hover {
    opacity: 0.8;
}

.send-icon {
    vertical-align: middle;
}

/* Chatroom ---- Member: my-profile */

#my-profile {
    height: 15rem;
    text-align: center;
}

#my-profile img {
    margin-top: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

#my-profile p {
    margin-top: 1rem;
    height: 3rem;
    font-size: 1.6rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Chatroom ---- Member: Turn on & Turn off disscusion */

.onoffswitch {
    position: relative;
    width: 6rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1rem;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 2rem;
    padding: 0;
    line-height: 2rem;
    font-size: .9rem;
    color: white;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "開放討論";
    padding-left: .5rem;
    background-color: #17A2B8;
    color: #FFFFFF;
    text-align: left;
}

.onoffswitch-inner:after {
    content: "關閉討論";
    padding-right: .5rem;
    background-color: #aaa;
    color: #fff;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 1.3rem;
    margin: .3rem;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4.1rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}



/* Chatroom ---- Member: member-title */

#member-title {
    height: 2rem;
    line-height: 2rem;
    margin-left: 10px;
}


/* Chatroom ---- Member: member-list */

.member-list-div {
    height: calc(100vh - 22rem);
    overflow-y: scroll;
    overflow-x: hidden;
}

#member-list {
    padding: 0px;
}

#member-list li {
    list-style: none;
    clear: both;
    padding: .5rem;
    width: 100%;
    font-size: .9rem;
    border-bottom: 1px solid #eee;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#member-list img{
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
}